
body {
  font-family:'Times New Roman', Times, serif;
}

h1 {
  font-size: 25px;
  color: white;
  padding-left: 100px;
  padding-top: 40px;
}



.dateTime {
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 15px;
  color: white;
}

#city-input {
  border: none;
  border-radius: 5px;
  width: 205px;
  opacity:0.2;
  
}

#search-form {
  padding-left: 15px;
}

#button, #button1 {
  font-size:20px; 
  color: rgb(229, 123, 57);
   border: none; 
   border-radius: 5px; 
   background: linear-gradient(109.6deg, rgba(82, 191, 203, 0.4) 100%,rgba(57, 141, 151, 0.671) 100%, rgb(42, 101, 119) 91.1%);
   width: 40px;
   display: inline-block;
   height: 36px;
   
}

#button {
  margin-left: 2px;
}

#button1 {
  margin-left: 45px;
}

#icon {
  padding-left: 60px;
  margin-bottom: 20px;
}



#sky {
padding-left: 120px;
  font-weight: 19px;
  font-size:20px;
  color: rgb(248, 248, 248);
  padding-bottom: 30px;
  
  }

  

.weatherApp {
  border: 1px solid #dadde1;
  padding: 5px;
  margin: 10px;
  border-radius: 60px;
  max-width: 375px;
  height: 750px;
  background: radial-gradient(circle at 10% 20%, rgb(0, 95, 104) 0%, rgb(15, 156, 168));
  border-width: 20px;
  border-color: rgb(223, 219, 219);
}


#temperature {
  margin-top: 0px;
font-size: 60px;
color: #dadde1;
padding-left: 40px;
}
  
#unidad {
  color: rgb(255, 255, 255);
  font-size: 20px;
  height: 100px;
  bottom: 20px;
  position: relative;

}


#humidity, #wind {
  color: whitesmoke;
  padding-left: 130px;
  font-weight: 4px;
  
}

.material-icons{
padding-top: 5px;

}


.active {
  color: rgb(104, 250, 231);
  cursor: default;
  text-decoration: none;
}

.active:hover {
 text-decoration:none ;
}

.faren {
  text-decoration: none;
  cursor: default;
  color: rgb(255, 255, 255);
}


.faren:hover {
  text-decoration: none;
  color: rgb(104, 250, 231);
}

.weather-forecast {
text-align: center;
color: white;
margin-top: 50px;

}

.date-forecast{
  opacity: 0.8;
}

.weather-forecast-temperature-min {
  font-size:14px;
  opacity: 0.7;
}

#forecast {
  background-color: rgba(255, 255, 255, 0.301);
  width: 327px;
  padding:2px;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;

  
}

.material-icons {
  color:rgb(229, 123, 57); ;
}

#buttonBackgroundPurple {
  background:  linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  width:40px;
  height: 20px;
  margin-top: 20px;
  margin-left: 90px;
  border: none;
  border-radius: 8px;
  
}

#buttonBackgroundGreen {
  background: radial-gradient(circle at 10% 20%, rgb(0, 95, 104) 0%, rgb(15, 156, 168));
  width:40px;
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  
}

#buttonBackgroundBlue {
background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  width:40px;
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px; 
}

#buttonBackgroundPurple:hover {
  opacity: 0.5;
  cursor: pointer;
}

#buttonBackgroundBlue:hover {
  opacity: 0.5;
  cursor: pointer;
}

#buttonBackgroundGreen:hover {
  opacity: 0.5;
  cursor: pointer;
}